<h1>Editar comentario</h1>

<form method="post">
  <textarea name="comentario" rows="5" cols="50">{{ comentario }}</textarea><br>
  <button type="submit">Guardar cambios</button>
</form>

<a href="moderar_comentarios.php">Atrás</a>

<link rel="stylesheet" href="/css/styles.css">
