<h1>Nueva Película</h1>
<form method="post" enctype="multipart/form-data">
  <label>Título:</label><br>
  <input type="text" name="titulo"><br>

  <label>Director:</label><br>
  <input type="text" name="director"><br>

  <label>Fecha de estreno:</label><br>
  <input type="date" name="fecha"><br>

  <label>Descripción:</label><br>
  <textarea name="descripcion"></textarea><br>

  <label>Imagen de portada:</label><br>
  <input type="file" name="imagen"><br>

  <button type="submit">Crear</button>
</form>

<link rel="stylesheet" href="/css/styles.css">
